# ---------- Python ----------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.db
*.sqlite3
*.DS_Store
venv/


# ---------- App runtime data ----------
app/uploads/
app/Data/*
!app/Data/.gitkeep
app/Data/counter.txt
*.pdf

# ---------- Docker ----------
.docker.env

# ---------- Terraform / OpenTofu ----------
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
!infra/.terraform.lock.hcl

# ---------- SSH / מפתחות / סודות ----------
*.pem
*.key
id_rsa
id_ecdsa
id_ed25519
.aws/